<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OWASP Benchmark</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/benchmark/css/normalize.css">
  <link rel="stylesheet" href="/benchmark/css/skeleton.css">
  <link rel="icon" type="image/png" href="/benchmark/favicon.ico">
  
  <script src="/benchmark/js/jquery.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="row">
			<div class="twelve columns">
				<h1>OWASP Benchmark Insecure Deserialization Test Case Index</h1>
			</div>
		</div>
		<div class="row">
			<div class="eight columns">
			<ul>
<li><a href='deserialization-00/BenchmarkTest00078'>BenchmarkTest00078</a></li>
<li><a href='deserialization-00/BenchmarkTest00079'>BenchmarkTest00079</a></li>
<li><a href='deserialization-00/BenchmarkTest00080'>BenchmarkTest00080</a></li>
<li><a href='deserialization-00/BenchmarkTest00081'>BenchmarkTest00081</a></li>
<li><a href='deserialization-00/BenchmarkTest00082'>BenchmarkTest00082</a></li>
<li><a href='deserialization-00/BenchmarkTest00083'>BenchmarkTest00083</a></li>
<li><a href='deserialization-00/BenchmarkTest00165.html?BenchmarkTest00165=SafeText'>BenchmarkTest00165</a></li>
<li><a href='deserialization-00/BenchmarkTest00166.html?BenchmarkTest00166=SafeText'>BenchmarkTest00166</a></li>
<li><a href='deserialization-00/BenchmarkTest00167.html?BenchmarkTest00167=SafeText'>BenchmarkTest00167</a></li>
<li><a href='deserialization-00/BenchmarkTest00169.html?BenchmarkTest00169=SafeText'>BenchmarkTest00169</a></li>
<li><a href='deserialization-00/BenchmarkTest00170.html?BenchmarkTest00170=SafeText'>BenchmarkTest00170</a></li>
<li><a href='deserialization-00/BenchmarkTest00272.html?BenchmarkTest00272=SafeText'>BenchmarkTest00272</a></li>
<li><a href='deserialization-00/BenchmarkTest00351.html?BenchmarkTest00351=SafeText'>BenchmarkTest00351</a></li>
<li><a href='deserialization-00/BenchmarkTest00352.html?BenchmarkTest00352=SafeText'>BenchmarkTest00352</a></li>
<li><a href='deserialization-00/BenchmarkTest00438.html?BenchmarkTest00438=SafeText'>BenchmarkTest00438</a></li>
<li><a href='deserialization-00/BenchmarkTest00514.html?BenchmarkTest00514=SafeText'>BenchmarkTest00514</a></li>
<li><a href='deserialization-00/BenchmarkTest00516.html?BenchmarkTest00516=SafeText'>BenchmarkTest00516</a></li>
<li><a href='deserialization-00/BenchmarkTest00517.html?BenchmarkTest00517=SafeText'>BenchmarkTest00517</a></li>
<li><a href='deserialization-00/BenchmarkTest00518.html?BenchmarkTest00518=SafeText'>BenchmarkTest00518</a></li>
<li><a href='deserialization-00/BenchmarkTest00610.html?BenchmarkTest00610=SafeText'>BenchmarkTest00610</a></li>
<li><a href='deserialization-00/BenchmarkTest00611.html?BenchmarkTest00611=SafeText'>BenchmarkTest00611</a></li>
<li><a href='deserialization-00/BenchmarkTest00612.html?BenchmarkTest00612=SafeText'>BenchmarkTest00612</a></li>
<li><a href='deserialization-00/BenchmarkTest00661.html?BenchmarkTest00661=SafeText'>BenchmarkTest00661</a></li>
<li><a href='deserialization-00/BenchmarkTest00662.html?BenchmarkTest00662=SafeText'>BenchmarkTest00662</a></li>
<li><a href='deserialization-00/BenchmarkTest00663.html?BenchmarkTest00663=SafeText'>BenchmarkTest00663</a></li>
<li><a href='deserialization-00/BenchmarkTest00737.html?BenchmarkTest00737=SafeText'>BenchmarkTest00737</a></li>
<li><a href='deserialization-00/BenchmarkTest00738.html?BenchmarkTest00738=SafeText'>BenchmarkTest00738</a></li>
<li><a href='deserialization-00/BenchmarkTest00741.html?BenchmarkTest00741=SafeText'>BenchmarkTest00741</a></li>
<li><a href='deserialization-00/BenchmarkTest00831.html?BenchmarkTest00831=SafeText'>BenchmarkTest00831</a></li>
<li><a href='deserialization-00/BenchmarkTest00832.html?BenchmarkTest00832=SafeText'>BenchmarkTest00832</a></li>
<li><a href='deserialization-00/BenchmarkTest00833.html?BenchmarkTest00833=SafeText'>BenchmarkTest00833</a></li>
<li><a href='deserialization-00/BenchmarkTest00834.html?BenchmarkTest00834=SafeText'>BenchmarkTest00834</a></li>
<li><a href='deserialization-00/BenchmarkTest00908.html?BenchmarkTest00908=SafeText'>BenchmarkTest00908</a></li>
<li><a href='deserialization-00/BenchmarkTest00909.html?BenchmarkTest00909=SafeText'>BenchmarkTest00909</a></li>
<li><a href='deserialization-00/BenchmarkTest00910.html?BenchmarkTest00910=SafeText'>BenchmarkTest00910</a></li>
<li><a href='deserialization-00/BenchmarkTest00916.html?BenchmarkTest00916=SafeText'>BenchmarkTest00916</a></li>
<li><a href='deserialization-00/BenchmarkTest00917.html?BenchmarkTest00917=SafeText'>BenchmarkTest00917</a></li>
<li><a href='deserialization-00/BenchmarkTest00918.html?BenchmarkTest00918=SafeText'>BenchmarkTest00918</a></li>
<li><a href='deserialization-00/BenchmarkTest01006.html?BenchmarkTest01006=SafeText'>BenchmarkTest01006</a></li>
<li><a href='deserialization-00/BenchmarkTest01007.html?BenchmarkTest01007=SafeText'>BenchmarkTest01007</a></li>
<li><a href='deserialization-00/BenchmarkTest01009.html?BenchmarkTest01009=SafeText'>BenchmarkTest01009</a></li>
<li><a href='deserialization-00/BenchmarkTest01010.html?BenchmarkTest01010=SafeText'>BenchmarkTest01010</a></li>
<li><a href='deserialization-00/BenchmarkTest01106.html?BenchmarkTest01106=SafeText'>BenchmarkTest01106</a></li>
<li><a href='deserialization-00/BenchmarkTest01107.html?BenchmarkTest01107=SafeText'>BenchmarkTest01107</a></li>
<li><a href='deserialization-00/BenchmarkTest01108.html?BenchmarkTest01108=SafeText'>BenchmarkTest01108</a></li>
<li><a href='deserialization-00/BenchmarkTest01109.html?BenchmarkTest01109=SafeText'>BenchmarkTest01109</a></li>
<li><a href='deserialization-00/BenchmarkTest01110.html?BenchmarkTest01110=SafeText'>BenchmarkTest01110</a></li>
<li><a href='deserialization-00/BenchmarkTest01111.html?BenchmarkTest01111=SafeText'>BenchmarkTest01111</a></li>
<li><a href='deserialization-00/BenchmarkTest01112.html?BenchmarkTest01112=SafeText'>BenchmarkTest01112</a></li>
<li><a href='deserialization-00/BenchmarkTest01183.html?BenchmarkTest01183=SafeText'>BenchmarkTest01183</a></li>
<li><a href='deserialization-00/BenchmarkTest01184.html?BenchmarkTest01184=SafeText'>BenchmarkTest01184</a></li>
<li><a href='deserialization-00/BenchmarkTest01185.html?BenchmarkTest01185=SafeText'>BenchmarkTest01185</a></li>
<li><a href='deserialization-00/BenchmarkTest01186.html?BenchmarkTest01186=SafeText'>BenchmarkTest01186</a></li>
<li><a href='deserialization-00/BenchmarkTest01219.html?BenchmarkTest01219=SafeText'>BenchmarkTest01219</a></li>
<li><a href='deserialization-00/BenchmarkTest01243.html?BenchmarkTest01243=SafeText'>BenchmarkTest01243</a></li>
				<!-- @@LINK@@ -->
			</ul>
			</div>
		</div>
	</div>
</div>
</body>
</html>
