<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OWASP Benchmark</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/benchmark/css/normalize.css">
  <link rel="stylesheet" href="/benchmark/css/skeleton.css">
  <link rel="icon" type="image/png" href="/benchmark/favicon.ico">
  
  <script src="/benchmark/js/jquery.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="row">
			<div class="twelve columns">
				<h1>OWASP Benchmark Path Traversal Test Case Index</h1>
			</div>
		</div>
		<div class="row">
			<div class="eight columns">
			<ul>
<li><a href='pathtraver-00/BenchmarkTest00001'>BenchmarkTest00001</a></li>
<li><a href='pathtraver-00/BenchmarkTest00002'>BenchmarkTest00002</a></li>
<li><a href='pathtraver-00/BenchmarkTest00003'>BenchmarkTest00003</a></li>
<li><a href='pathtraver-00/BenchmarkTest00004'>BenchmarkTest00004</a></li>
<li><a href='pathtraver-00/BenchmarkTest00005'>BenchmarkTest00005</a></li>
<li><a href='pathtraver-00/BenchmarkTest00006'>BenchmarkTest00006</a></li>
<li><a href='pathtraver-00/BenchmarkTest00007'>BenchmarkTest00007</a></li>
<li><a href='pathtraver-00/BenchmarkTest00008'>BenchmarkTest00008</a></li>
<li><a href='pathtraver-00/BenchmarkTest00009'>BenchmarkTest00009</a></li>
<li><a href='pathtraver-00/BenchmarkTest00010'>BenchmarkTest00010</a></li>
<li><a href='pathtraver-00/BenchmarkTest00085.html?BenchmarkTest00085=SafeText'>BenchmarkTest00085</a></li>
<li><a href='pathtraver-00/BenchmarkTest00086.html?BenchmarkTest00086=SafeText'>BenchmarkTest00086</a></li>
<li><a href='pathtraver-00/BenchmarkTest00087.html?BenchmarkTest00087=SafeText'>BenchmarkTest00087</a></li>
<li><a href='pathtraver-00/BenchmarkTest00088.html?BenchmarkTest00088=SafeText'>BenchmarkTest00088</a></li>
<li><a href='pathtraver-00/BenchmarkTest00089.html?BenchmarkTest00089=SafeText'>BenchmarkTest00089</a></li>
<li><a href='pathtraver-00/BenchmarkTest00090.html?BenchmarkTest00090=SafeText'>BenchmarkTest00090</a></li>
<li><a href='pathtraver-00/BenchmarkTest00091.html?BenchmarkTest00091=SafeText'>BenchmarkTest00091</a></li>
<li><a href='pathtraver-00/BenchmarkTest00092.html?BenchmarkTest00092=SafeText'>BenchmarkTest00092</a></li>
<li><a href='pathtraver-00/BenchmarkTest00093.html?BenchmarkTest00093=SafeText'>BenchmarkTest00093</a></li>
<li><a href='pathtraver-00/BenchmarkTest00094.html?BenchmarkTest00094=SafeText'>BenchmarkTest00094</a></li>
<li><a href='pathtraver-00/BenchmarkTest00095.html?BenchmarkTest00095=SafeText'>BenchmarkTest00095</a></li>
<li><a href='pathtraver-00/BenchmarkTest00173.html?BenchmarkTest00173=SafeText'>BenchmarkTest00173</a></li>
<li><a href='pathtraver-00/BenchmarkTest00174.html?BenchmarkTest00174=SafeText'>BenchmarkTest00174</a></li>
<li><a href='pathtraver-00/BenchmarkTest00175.html?BenchmarkTest00175=SafeText'>BenchmarkTest00175</a></li>
<li><a href='pathtraver-00/BenchmarkTest00176.html?BenchmarkTest00176=SafeText'>BenchmarkTest00176</a></li>
<li><a href='pathtraver-00/BenchmarkTest00177.html?BenchmarkTest00177=SafeText'>BenchmarkTest00177</a></li>
<li><a href='pathtraver-00/BenchmarkTest00178.html?BenchmarkTest00178=SafeText'>BenchmarkTest00178</a></li>
<li><a href='pathtraver-00/BenchmarkTest00179.html?BenchmarkTest00179=SafeText'>BenchmarkTest00179</a></li>
<li><a href='pathtraver-00/BenchmarkTest00180.html?BenchmarkTest00180=SafeText'>BenchmarkTest00180</a></li>
<li><a href='pathtraver-00/BenchmarkTest00181.html?BenchmarkTest00181=SafeText'>BenchmarkTest00181</a></li>
<li><a href='pathtraver-00/BenchmarkTest00182.html?BenchmarkTest00182=SafeText'>BenchmarkTest00182</a></li>
<li><a href='pathtraver-00/BenchmarkTest00183.html?BenchmarkTest00183=SafeText'>BenchmarkTest00183</a></li>
<li><a href='pathtraver-00/BenchmarkTest00184.html?BenchmarkTest00184=SafeText'>BenchmarkTest00184</a></li>
<li><a href='pathtraver-00/BenchmarkTest00185.html?BenchmarkTest00185=SafeText'>BenchmarkTest00185</a></li>
<li><a href='pathtraver-00/BenchmarkTest00186.html?BenchmarkTest00186=SafeText'>BenchmarkTest00186</a></li>
<li><a href='pathtraver-00/BenchmarkTest00187.html?BenchmarkTest00187=SafeText'>BenchmarkTest00187</a></li>
<li><a href='pathtraver-00/BenchmarkTest00274.html?BenchmarkTest00274=SafeText'>BenchmarkTest00274</a></li>
<li><a href='pathtraver-00/BenchmarkTest00275.html?BenchmarkTest00275=SafeText'>BenchmarkTest00275</a></li>
<li><a href='pathtraver-00/BenchmarkTest00276.html?BenchmarkTest00276=SafeText'>BenchmarkTest00276</a></li>
<li><a href='pathtraver-00/BenchmarkTest00277.html?BenchmarkTest00277=SafeText'>BenchmarkTest00277</a></li>
<li><a href='pathtraver-00/BenchmarkTest00278.html?BenchmarkTest00278=SafeText'>BenchmarkTest00278</a></li>
<li><a href='pathtraver-00/BenchmarkTest00355.html?BenchmarkTest00355=SafeText'>BenchmarkTest00355</a></li>
<li><a href='pathtraver-00/BenchmarkTest00356.html?BenchmarkTest00356=SafeText'>BenchmarkTest00356</a></li>
<li><a href='pathtraver-00/BenchmarkTest00357.html?BenchmarkTest00357=SafeText'>BenchmarkTest00357</a></li>
<li><a href='pathtraver-00/BenchmarkTest00358.html?BenchmarkTest00358=SafeText'>BenchmarkTest00358</a></li>
<li><a href='pathtraver-00/BenchmarkTest00359.html?BenchmarkTest00359=SafeText'>BenchmarkTest00359</a></li>
<li><a href='pathtraver-00/BenchmarkTest00360.html?BenchmarkTest00360=SafeText'>BenchmarkTest00360</a></li>
<li><a href='pathtraver-00/BenchmarkTest00361.html?BenchmarkTest00361=SafeText'>BenchmarkTest00361</a></li>
<li><a href='pathtraver-00/BenchmarkTest00362.html?BenchmarkTest00362=SafeText'>BenchmarkTest00362</a></li>
<li><a href='pathtraver-00/BenchmarkTest00363.html?BenchmarkTest00363=SafeText'>BenchmarkTest00363</a></li>
<li><a href='pathtraver-00/BenchmarkTest00364.html?BenchmarkTest00364=SafeText'>BenchmarkTest00364</a></li>
<li><a href='pathtraver-00/BenchmarkTest00441.html?BenchmarkTest00441=SafeText'>BenchmarkTest00441</a></li>
<li><a href='pathtraver-00/BenchmarkTest00442.html?BenchmarkTest00442=SafeText'>BenchmarkTest00442</a></li>
<li><a href='pathtraver-00/BenchmarkTest00443.html?BenchmarkTest00443=SafeText'>BenchmarkTest00443</a></li>
<li><a href='pathtraver-00/BenchmarkTest00444.html?BenchmarkTest00444=SafeText'>BenchmarkTest00444</a></li>
<li><a href='pathtraver-00/BenchmarkTest00445.html?BenchmarkTest00445=SafeText'>BenchmarkTest00445</a></li>
<li><a href='pathtraver-00/BenchmarkTest00446.html?BenchmarkTest00446=SafeText'>BenchmarkTest00446</a></li>
<li><a href='pathtraver-00/BenchmarkTest00447.html?BenchmarkTest00447=SafeText'>BenchmarkTest00447</a></li>
<li><a href='pathtraver-00/BenchmarkTest00448.html?BenchmarkTest00448=SafeText'>BenchmarkTest00448</a></li>
<li><a href='pathtraver-00/BenchmarkTest00449.html?BenchmarkTest00449=SafeText'>BenchmarkTest00449</a></li>
<li><a href='pathtraver-00/BenchmarkTest00450.html?BenchmarkTest00450=SafeText'>BenchmarkTest00450</a></li>
<li><a href='pathtraver-00/BenchmarkTest00451.html?BenchmarkTest00451=SafeText'>BenchmarkTest00451</a></li>
<li><a href='pathtraver-00/BenchmarkTest00452.html?BenchmarkTest00452=SafeText'>BenchmarkTest00452</a></li>
<li><a href='pathtraver-00/BenchmarkTest00522.html?BenchmarkTest00522=SafeText'>BenchmarkTest00522</a></li>
<li><a href='pathtraver-00/BenchmarkTest00523.html?BenchmarkTest00523=SafeText'>BenchmarkTest00523</a></li>
<li><a href='pathtraver-00/BenchmarkTest00524.html?BenchmarkTest00524=SafeText'>BenchmarkTest00524</a></li>
<li><a href='pathtraver-00/BenchmarkTest00525.html?BenchmarkTest00525=SafeText'>BenchmarkTest00525</a></li>
<li><a href='pathtraver-00/BenchmarkTest00526.html?BenchmarkTest00526=SafeText'>BenchmarkTest00526</a></li>
<li><a href='pathtraver-00/BenchmarkTest00527.html?BenchmarkTest00527=SafeText'>BenchmarkTest00527</a></li>
<li><a href='pathtraver-00/BenchmarkTest00528.html?BenchmarkTest00528=SafeText'>BenchmarkTest00528</a></li>
<li><a href='pathtraver-00/BenchmarkTest00529.html?BenchmarkTest00529=SafeText'>BenchmarkTest00529</a></li>
<li><a href='pathtraver-00/BenchmarkTest00530.html?BenchmarkTest00530=SafeText'>BenchmarkTest00530</a></li>
<li><a href='pathtraver-00/BenchmarkTest00531.html?BenchmarkTest00531=SafeText'>BenchmarkTest00531</a></li>
<li><a href='pathtraver-00/BenchmarkTest00532.html?BenchmarkTest00532=SafeText'>BenchmarkTest00532</a></li>
<li><a href='pathtraver-00/BenchmarkTest00533.html?BenchmarkTest00533=SafeText'>BenchmarkTest00533</a></li>
<li><a href='pathtraver-00/BenchmarkTest00616.html?BenchmarkTest00616=SafeText'>BenchmarkTest00616</a></li>
<li><a href='pathtraver-00/BenchmarkTest00617.html?BenchmarkTest00617=SafeText'>BenchmarkTest00617</a></li>
<li><a href='pathtraver-00/BenchmarkTest00618.html?BenchmarkTest00618=SafeText'>BenchmarkTest00618</a></li>
<li><a href='pathtraver-00/BenchmarkTest00619.html?BenchmarkTest00619=SafeText'>BenchmarkTest00619</a></li>
<li><a href='pathtraver-00/BenchmarkTest00620.html?BenchmarkTest00620=SafeText'>BenchmarkTest00620</a></li>
<li><a href='pathtraver-01/BenchmarkTest00621.html?BenchmarkTest00621=SafeText'>BenchmarkTest00621</a></li>
<li><a href='pathtraver-01/BenchmarkTest00622.html?BenchmarkTest00622=SafeText'>BenchmarkTest00622</a></li>
<li><a href='pathtraver-01/BenchmarkTest00623.html?BenchmarkTest00623=SafeText'>BenchmarkTest00623</a></li>
<li><a href='pathtraver-01/BenchmarkTest00624.html?BenchmarkTest00624=SafeText'>BenchmarkTest00624</a></li>
<li><a href='pathtraver-01/BenchmarkTest00625.html?BenchmarkTest00625=SafeText'>BenchmarkTest00625</a></li>
<li><a href='pathtraver-01/BenchmarkTest00626.html?BenchmarkTest00626=SafeText'>BenchmarkTest00626</a></li>
<li><a href='pathtraver-01/BenchmarkTest00664.html?BenchmarkTest00664=SafeText'>BenchmarkTest00664</a></li>
<li><a href='pathtraver-01/BenchmarkTest00665.html?BenchmarkTest00665=SafeText'>BenchmarkTest00665</a></li>
<li><a href='pathtraver-01/BenchmarkTest00666.html?BenchmarkTest00666=SafeText'>BenchmarkTest00666</a></li>
<li><a href='pathtraver-01/BenchmarkTest00667.html?BenchmarkTest00667=SafeText'>BenchmarkTest00667</a></li>
<li><a href='pathtraver-01/BenchmarkTest00668.html?BenchmarkTest00668=SafeText'>BenchmarkTest00668</a></li>
<li><a href='pathtraver-01/BenchmarkTest00669.html?BenchmarkTest00669=SafeText'>BenchmarkTest00669</a></li>
<li><a href='pathtraver-01/BenchmarkTest00670.html?BenchmarkTest00670=SafeText'>BenchmarkTest00670</a></li>
<li><a href='pathtraver-01/BenchmarkTest00671.html?BenchmarkTest00671=SafeText'>BenchmarkTest00671</a></li>
<li><a href='pathtraver-01/BenchmarkTest00672.html?BenchmarkTest00672=SafeText'>BenchmarkTest00672</a></li>
<li><a href='pathtraver-01/BenchmarkTest00673.html?BenchmarkTest00673=SafeText'>BenchmarkTest00673</a></li>
<li><a href='pathtraver-01/BenchmarkTest00742.html?BenchmarkTest00742=SafeText'>BenchmarkTest00742</a></li>
<li><a href='pathtraver-01/BenchmarkTest00743.html?BenchmarkTest00743=SafeText'>BenchmarkTest00743</a></li>
<li><a href='pathtraver-01/BenchmarkTest00744.html?BenchmarkTest00744=SafeText'>BenchmarkTest00744</a></li>
<li><a href='pathtraver-01/BenchmarkTest00745.html?BenchmarkTest00745=SafeText'>BenchmarkTest00745</a></li>
<li><a href='pathtraver-01/BenchmarkTest00746.html?BenchmarkTest00746=SafeText'>BenchmarkTest00746</a></li>
<li><a href='pathtraver-01/BenchmarkTest00747.html?BenchmarkTest00747=SafeText'>BenchmarkTest00747</a></li>
<li><a href='pathtraver-01/BenchmarkTest00748.html?BenchmarkTest00748=SafeText'>BenchmarkTest00748</a></li>
<li><a href='pathtraver-01/BenchmarkTest00749.html?BenchmarkTest00749=SafeText'>BenchmarkTest00749</a></li>
<li><a href='pathtraver-01/BenchmarkTest00750.html?BenchmarkTest00750=SafeText'>BenchmarkTest00750</a></li>
<li><a href='pathtraver-01/BenchmarkTest00751.html?BenchmarkTest00751=SafeText'>BenchmarkTest00751</a></li>
<li><a href='pathtraver-01/BenchmarkTest00752.html?BenchmarkTest00752=SafeText'>BenchmarkTest00752</a></li>
<li><a href='pathtraver-01/BenchmarkTest00753.html?BenchmarkTest00753=SafeText'>BenchmarkTest00753</a></li>
<li><a href='pathtraver-01/BenchmarkTest00754.html?BenchmarkTest00754=SafeText'>BenchmarkTest00754</a></li>
<li><a href='pathtraver-01/BenchmarkTest00755.html?BenchmarkTest00755=SafeText'>BenchmarkTest00755</a></li>
<li><a href='pathtraver-01/BenchmarkTest00836.html?BenchmarkTest00836=SafeText'>BenchmarkTest00836</a></li>
<li><a href='pathtraver-01/BenchmarkTest00837.html?BenchmarkTest00837=SafeText'>BenchmarkTest00837</a></li>
<li><a href='pathtraver-01/BenchmarkTest00838.html?BenchmarkTest00838=SafeText'>BenchmarkTest00838</a></li>
<li><a href='pathtraver-01/BenchmarkTest00839.html?BenchmarkTest00839=SafeText'>BenchmarkTest00839</a></li>
<li><a href='pathtraver-01/BenchmarkTest00840.html?BenchmarkTest00840=SafeText'>BenchmarkTest00840</a></li>
<li><a href='pathtraver-01/BenchmarkTest00841.html?BenchmarkTest00841=SafeText'>BenchmarkTest00841</a></li>
<li><a href='pathtraver-01/BenchmarkTest00842.html?BenchmarkTest00842=SafeText'>BenchmarkTest00842</a></li>
<li><a href='pathtraver-01/BenchmarkTest00843.html?BenchmarkTest00843=SafeText'>BenchmarkTest00843</a></li>
<li><a href='pathtraver-01/BenchmarkTest00920.html?BenchmarkTest00920=SafeText'>BenchmarkTest00920</a></li>
<li><a href='pathtraver-01/BenchmarkTest00921.html?BenchmarkTest00921=SafeText'>BenchmarkTest00921</a></li>
<li><a href='pathtraver-01/BenchmarkTest00922.html?BenchmarkTest00922=SafeText'>BenchmarkTest00922</a></li>
<li><a href='pathtraver-01/BenchmarkTest00923.html?BenchmarkTest00923=SafeText'>BenchmarkTest00923</a></li>
<li><a href='pathtraver-01/BenchmarkTest00924.html?BenchmarkTest00924=SafeText'>BenchmarkTest00924</a></li>
<li><a href='pathtraver-01/BenchmarkTest00925.html?BenchmarkTest00925=SafeText'>BenchmarkTest00925</a></li>
<li><a href='pathtraver-01/BenchmarkTest00926.html?BenchmarkTest00926=SafeText'>BenchmarkTest00926</a></li>
<li><a href='pathtraver-01/BenchmarkTest00927.html?BenchmarkTest00927=SafeText'>BenchmarkTest00927</a></li>
<li><a href='pathtraver-01/BenchmarkTest01011.html?BenchmarkTest01011=SafeText'>BenchmarkTest01011</a></li>
<li><a href='pathtraver-01/BenchmarkTest01012.html?BenchmarkTest01012=SafeText'>BenchmarkTest01012</a></li>
<li><a href='pathtraver-01/BenchmarkTest01013.html?BenchmarkTest01013=SafeText'>BenchmarkTest01013</a></li>
<li><a href='pathtraver-01/BenchmarkTest01014.html?BenchmarkTest01014=SafeText'>BenchmarkTest01014</a></li>
<li><a href='pathtraver-01/BenchmarkTest01015.html?BenchmarkTest01015=SafeText'>BenchmarkTest01015</a></li>
<li><a href='pathtraver-01/BenchmarkTest01016.html?BenchmarkTest01016=SafeText'>BenchmarkTest01016</a></li>
<li><a href='pathtraver-01/BenchmarkTest01017.html?BenchmarkTest01017=SafeText'>BenchmarkTest01017</a></li>
<li><a href='pathtraver-01/BenchmarkTest01018.html?BenchmarkTest01018=SafeText'>BenchmarkTest01018</a></li>
<li><a href='pathtraver-01/BenchmarkTest01019.html?BenchmarkTest01019=SafeText'>BenchmarkTest01019</a></li>
<li><a href='pathtraver-01/BenchmarkTest01020.html?BenchmarkTest01020=SafeText'>BenchmarkTest01020</a></li>
<li><a href='pathtraver-01/BenchmarkTest01021.html?BenchmarkTest01021=SafeText'>BenchmarkTest01021</a></li>
<li><a href='pathtraver-01/BenchmarkTest01022.html?BenchmarkTest01022=SafeText'>BenchmarkTest01022</a></li>
<li><a href='pathtraver-01/BenchmarkTest01023.html?BenchmarkTest01023=SafeText'>BenchmarkTest01023</a></li>
<li><a href='pathtraver-01/BenchmarkTest01113.html?BenchmarkTest01113=SafeText'>BenchmarkTest01113</a></li>
<li><a href='pathtraver-01/BenchmarkTest01114.html?BenchmarkTest01114=SafeText'>BenchmarkTest01114</a></li>
<li><a href='pathtraver-01/BenchmarkTest01115.html?BenchmarkTest01115=SafeText'>BenchmarkTest01115</a></li>
<li><a href='pathtraver-01/BenchmarkTest01116.html?BenchmarkTest01116=SafeText'>BenchmarkTest01116</a></li>
<li><a href='pathtraver-01/BenchmarkTest01117.html?BenchmarkTest01117=SafeText'>BenchmarkTest01117</a></li>
<li><a href='pathtraver-01/BenchmarkTest01118.html?BenchmarkTest01118=SafeText'>BenchmarkTest01118</a></li>
<li><a href='pathtraver-01/BenchmarkTest01119.html?BenchmarkTest01119=SafeText'>BenchmarkTest01119</a></li>
<li><a href='pathtraver-01/BenchmarkTest01120.html?BenchmarkTest01120=SafeText'>BenchmarkTest01120</a></li>
<li><a href='pathtraver-01/BenchmarkTest01121.html?BenchmarkTest01121=SafeText'>BenchmarkTest01121</a></li>
<li><a href='pathtraver-01/BenchmarkTest01187'>BenchmarkTest01187</a></li>
<li><a href='pathtraver-01/BenchmarkTest01188'>BenchmarkTest01188</a></li>
<li><a href='pathtraver-01/BenchmarkTest01198.html?BenchmarkTest01198=SafeText'>BenchmarkTest01198</a></li>
<li><a href='pathtraver-01/BenchmarkTest01202.html?BenchmarkTest01202=SafeText'>BenchmarkTest01202</a></li>
<li><a href='pathtraver-01/BenchmarkTest01210.html?BenchmarkTest01210=SafeText'>BenchmarkTest01210</a></li>
<li><a href='pathtraver-01/BenchmarkTest01214.html?BenchmarkTest01214=SafeText'>BenchmarkTest01214</a></li>
<li><a href='pathtraver-01/BenchmarkTest01231.html?BenchmarkTest01231=SafeText'>BenchmarkTest01231</a></li>
<li><a href='pathtraver-01/BenchmarkTest01239.html?BenchmarkTest01239=SafeText'>BenchmarkTest01239</a></li>
				<!-- @@LINK@@ -->
			</ul>
			</div>
		</div>
	</div>
</div>
</body>
</html>
