<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OWASP Benchmark</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/benchmark/css/normalize.css">
  <link rel="stylesheet" href="/benchmark/css/skeleton.css">
  <link rel="icon" type="image/png" href="/benchmark/favicon.ico">
  
  <script src="/benchmark/js/jquery.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="row">
			<div class="twelve columns">
				<h1>OWASP Benchmark XSS (Cross-Site Scripting) Test Case Index</h1>
			</div>
		</div>
		<div class="row">
			<div class="eight columns">
			<ul>
<li><a href='xss-00/BenchmarkTest00084.html?BenchmarkTest00084=SafeText'>BenchmarkTest00084</a></li>
<li><a href='xss-00/BenchmarkTest00096.html?BenchmarkTest00096=SafeText'>BenchmarkTest00096</a></li>
<li><a href='xss-00/BenchmarkTest00097.html?BenchmarkTest00097=SafeText'>BenchmarkTest00097</a></li>
<li><a href='xss-00/BenchmarkTest00098.html?BenchmarkTest00098=SafeText'>BenchmarkTest00098</a></li>
<li><a href='xss-00/BenchmarkTest00099.html?BenchmarkTest00099=SafeText'>BenchmarkTest00099</a></li>
<li><a href='xss-00/BenchmarkTest00150.html?BenchmarkTest00150=SafeText'>BenchmarkTest00150</a></li>
<li><a href='xss-00/BenchmarkTest00171.html?BenchmarkTest00171=SafeText'>BenchmarkTest00171</a></li>
<li><a href='xss-00/BenchmarkTest00172.html?BenchmarkTest00172=SafeText'>BenchmarkTest00172</a></li>
<li><a href='xss-00/BenchmarkTest00188.html?BenchmarkTest00188=SafeText'>BenchmarkTest00188</a></li>
<li><a href='xss-00/BenchmarkTest00189.html?BenchmarkTest00189=SafeText'>BenchmarkTest00189</a></li>
<li><a href='xss-00/BenchmarkTest00190.html?BenchmarkTest00190=SafeText'>BenchmarkTest00190</a></li>
<li><a href='xss-00/BenchmarkTest00191.html?BenchmarkTest00191=SafeText'>BenchmarkTest00191</a></li>
<li><a href='xss-00/BenchmarkTest00273.html?BenchmarkTest00273=SafeText'>BenchmarkTest00273</a></li>
<li><a href='xss-00/BenchmarkTest00279.html?BenchmarkTest00279=SafeText'>BenchmarkTest00279</a></li>
<li><a href='xss-00/BenchmarkTest00280.html?BenchmarkTest00280=SafeText'>BenchmarkTest00280</a></li>
<li><a href='xss-00/BenchmarkTest00281.html?BenchmarkTest00281=SafeText'>BenchmarkTest00281</a></li>
<li><a href='xss-00/BenchmarkTest00282.html?BenchmarkTest00282=SafeText'>BenchmarkTest00282</a></li>
<li><a href='xss-00/BenchmarkTest00283.html?BenchmarkTest00283=SafeText'>BenchmarkTest00283</a></li>
<li><a href='xss-00/BenchmarkTest00284.html?BenchmarkTest00284=SafeText'>BenchmarkTest00284</a></li>
<li><a href='xss-00/BenchmarkTest00285.html?BenchmarkTest00285=SafeText'>BenchmarkTest00285</a></li>
<li><a href='xss-00/BenchmarkTest00286.html?BenchmarkTest00286=SafeText'>BenchmarkTest00286</a></li>
<li><a href='xss-00/BenchmarkTest00287.html?BenchmarkTest00287=SafeText'>BenchmarkTest00287</a></li>
<li><a href='xss-00/BenchmarkTest00336.html?BenchmarkTest00336=SafeText'>BenchmarkTest00336</a></li>
<li><a href='xss-00/BenchmarkTest00353.html?BenchmarkTest00353=SafeText'>BenchmarkTest00353</a></li>
<li><a href='xss-00/BenchmarkTest00354.html?BenchmarkTest00354=SafeText'>BenchmarkTest00354</a></li>
<li><a href='xss-00/BenchmarkTest00365.html?BenchmarkTest00365=SafeText'>BenchmarkTest00365</a></li>
<li><a href='xss-00/BenchmarkTest00366.html?BenchmarkTest00366=SafeText'>BenchmarkTest00366</a></li>
<li><a href='xss-00/BenchmarkTest00367.html?BenchmarkTest00367=SafeText'>BenchmarkTest00367</a></li>
<li><a href='xss-00/BenchmarkTest00368.html?BenchmarkTest00368=SafeText'>BenchmarkTest00368</a></li>
<li><a href='xss-00/BenchmarkTest00369.html?BenchmarkTest00369=SafeText'>BenchmarkTest00369</a></li>
<li><a href='xss-00/BenchmarkTest00370.html?BenchmarkTest00370=SafeText'>BenchmarkTest00370</a></li>
<li><a href='xss-00/BenchmarkTest00415.html?BenchmarkTest00415=SafeText'>BenchmarkTest00415</a></li>
<li><a href='xss-00/BenchmarkTest00416.html?BenchmarkTest00416=SafeText'>BenchmarkTest00416</a></li>
<li><a href='xss-00/BenchmarkTest00417.html?BenchmarkTest00417=SafeText'>BenchmarkTest00417</a></li>
<li><a href='xss-00/BenchmarkTest00418.html?BenchmarkTest00418=SafeText'>BenchmarkTest00418</a></li>
<li><a href='xss-00/BenchmarkTest00439.html?BenchmarkTest00439=SafeText'>BenchmarkTest00439</a></li>
<li><a href='xss-00/BenchmarkTest00440.html?BenchmarkTest00440=SafeText'>BenchmarkTest00440</a></li>
<li><a href='xss-00/BenchmarkTest00453.html?BenchmarkTest00453=SafeText'>BenchmarkTest00453</a></li>
<li><a href='xss-00/BenchmarkTest00454.html?BenchmarkTest00454=SafeText'>BenchmarkTest00454</a></li>
<li><a href='xss-00/BenchmarkTest00455.html?BenchmarkTest00455=SafeText'>BenchmarkTest00455</a></li>
<li><a href='xss-00/BenchmarkTest00456.html?BenchmarkTest00456=SafeText'>BenchmarkTest00456</a></li>
<li><a href='xss-00/BenchmarkTest00457.html?BenchmarkTest00457=SafeText'>BenchmarkTest00457</a></li>
<li><a href='xss-00/BenchmarkTest00495.html?BenchmarkTest00495=SafeText'>BenchmarkTest00495</a></li>
<li><a href='xss-00/BenchmarkTest00496.html?BenchmarkTest00496=SafeText'>BenchmarkTest00496</a></li>
<li><a href='xss-00/BenchmarkTest00519.html?BenchmarkTest00519=SafeText'>BenchmarkTest00519</a></li>
<li><a href='xss-00/BenchmarkTest00520.html?BenchmarkTest00520=SafeText'>BenchmarkTest00520</a></li>
<li><a href='xss-00/BenchmarkTest00521.html?BenchmarkTest00521=SafeText'>BenchmarkTest00521</a></li>
<li><a href='xss-00/BenchmarkTest00534.html?BenchmarkTest00534=SafeText'>BenchmarkTest00534</a></li>
<li><a href='xss-00/BenchmarkTest00535.html?BenchmarkTest00535=SafeText'>BenchmarkTest00535</a></li>
<li><a href='xss-00/BenchmarkTest00536.html?BenchmarkTest00536=SafeText'>BenchmarkTest00536</a></li>
<li><a href='xss-00/BenchmarkTest00537.html?BenchmarkTest00537=SafeText'>BenchmarkTest00537</a></li>
<li><a href='xss-00/BenchmarkTest00598.html?BenchmarkTest00598=SafeText'>BenchmarkTest00598</a></li>
<li><a href='xss-00/BenchmarkTest00674.html?BenchmarkTest00674=SafeText'>BenchmarkTest00674</a></li>
<li><a href='xss-00/BenchmarkTest00675.html?BenchmarkTest00675=SafeText'>BenchmarkTest00675</a></li>
<li><a href='xss-00/BenchmarkTest00676.html?BenchmarkTest00676=SafeText'>BenchmarkTest00676</a></li>
<li><a href='xss-00/BenchmarkTest00677.html?BenchmarkTest00677=SafeText'>BenchmarkTest00677</a></li>
<li><a href='xss-00/BenchmarkTest00678.html?BenchmarkTest00678=SafeText'>BenchmarkTest00678</a></li>
<li><a href='xss-00/BenchmarkTest00725.html?BenchmarkTest00725=SafeText'>BenchmarkTest00725</a></li>
<li><a href='xss-00/BenchmarkTest00726.html?BenchmarkTest00726=SafeText'>BenchmarkTest00726</a></li>
<li><a href='xss-00/BenchmarkTest00756.html?BenchmarkTest00756=SafeText'>BenchmarkTest00756</a></li>
<li><a href='xss-00/BenchmarkTest00757.html?BenchmarkTest00757=SafeText'>BenchmarkTest00757</a></li>
<li><a href='xss-00/BenchmarkTest00758.html?BenchmarkTest00758=SafeText'>BenchmarkTest00758</a></li>
<li><a href='xss-00/BenchmarkTest00759.html?BenchmarkTest00759=SafeText'>BenchmarkTest00759</a></li>
<li><a href='xss-00/BenchmarkTest00760.html?BenchmarkTest00760=SafeText'>BenchmarkTest00760</a></li>
<li><a href='xss-00/BenchmarkTest00835.html?BenchmarkTest00835=SafeText'>BenchmarkTest00835</a></li>
<li><a href='xss-00/BenchmarkTest00844.html?BenchmarkTest00844=SafeText'>BenchmarkTest00844</a></li>
<li><a href='xss-00/BenchmarkTest00845.html?BenchmarkTest00845=SafeText'>BenchmarkTest00845</a></li>
<li><a href='xss-00/BenchmarkTest00846.html?BenchmarkTest00846=SafeText'>BenchmarkTest00846</a></li>
<li><a href='xss-00/BenchmarkTest00847.html?BenchmarkTest00847=SafeText'>BenchmarkTest00847</a></li>
<li><a href='xss-00/BenchmarkTest00848.html?BenchmarkTest00848=SafeText'>BenchmarkTest00848</a></li>
<li><a href='xss-00/BenchmarkTest00849.html?BenchmarkTest00849=SafeText'>BenchmarkTest00849</a></li>
<li><a href='xss-00/BenchmarkTest00850.html?BenchmarkTest00850=SafeText'>BenchmarkTest00850</a></li>
<li><a href='xss-00/BenchmarkTest00851.html?BenchmarkTest00851=SafeText'>BenchmarkTest00851</a></li>
<li><a href='xss-00/BenchmarkTest00890.html?BenchmarkTest00890=SafeText'>BenchmarkTest00890</a></li>
<li><a href='xss-00/BenchmarkTest00891.html?BenchmarkTest00891=SafeText'>BenchmarkTest00891</a></li>
<li><a href='xss-00/BenchmarkTest00919.html?BenchmarkTest00919=SafeText'>BenchmarkTest00919</a></li>
<li><a href='xss-00/BenchmarkTest00928.html?BenchmarkTest00928=SafeText'>BenchmarkTest00928</a></li>
<li><a href='xss-00/BenchmarkTest00929.html?BenchmarkTest00929=SafeText'>BenchmarkTest00929</a></li>
<li><a href='xss-00/BenchmarkTest00930.html?BenchmarkTest00930=SafeText'>BenchmarkTest00930</a></li>
<li><a href='xss-00/BenchmarkTest00931.html?BenchmarkTest00931=SafeText'>BenchmarkTest00931</a></li>
<li><a href='xss-01/BenchmarkTest00932.html?BenchmarkTest00932=SafeText'>BenchmarkTest00932</a></li>
<li><a href='xss-01/BenchmarkTest00933.html?BenchmarkTest00933=SafeText'>BenchmarkTest00933</a></li>
<li><a href='xss-01/BenchmarkTest00986.html?BenchmarkTest00986=SafeText'>BenchmarkTest00986</a></li>
<li><a href='xss-01/BenchmarkTest00987.html?BenchmarkTest00987=SafeText'>BenchmarkTest00987</a></li>
<li><a href='xss-01/BenchmarkTest01024.html?BenchmarkTest01024=SafeText'>BenchmarkTest01024</a></li>
<li><a href='xss-01/BenchmarkTest01025.html?BenchmarkTest01025=SafeText'>BenchmarkTest01025</a></li>
<li><a href='xss-01/BenchmarkTest01026.html?BenchmarkTest01026=SafeText'>BenchmarkTest01026</a></li>
<li><a href='xss-01/BenchmarkTest01027.html?BenchmarkTest01027=SafeText'>BenchmarkTest01027</a></li>
<li><a href='xss-01/BenchmarkTest01028.html?BenchmarkTest01028=SafeText'>BenchmarkTest01028</a></li>
<li><a href='xss-01/BenchmarkTest01029.html?BenchmarkTest01029=SafeText'>BenchmarkTest01029</a></li>
<li><a href='xss-01/BenchmarkTest01122.html?BenchmarkTest01122=SafeText'>BenchmarkTest01122</a></li>
<li><a href='xss-01/BenchmarkTest01123.html?BenchmarkTest01123=SafeText'>BenchmarkTest01123</a></li>
<li><a href='xss-01/BenchmarkTest01124.html?BenchmarkTest01124=SafeText'>BenchmarkTest01124</a></li>
<li><a href='xss-01/BenchmarkTest01165.html?BenchmarkTest01165=SafeText'>BenchmarkTest01165</a></li>
<li><a href='xss-01/BenchmarkTest01190.html?BenchmarkTest01190=SafeText'>BenchmarkTest01190</a></li>
<li><a href='xss-01/BenchmarkTest01199.html?BenchmarkTest01199=SafeText'>BenchmarkTest01199</a></li>
<li><a href='xss-01/BenchmarkTest01203.html?BenchmarkTest01203=SafeText'>BenchmarkTest01203</a></li>
<li><a href='xss-01/BenchmarkTest01208.html?BenchmarkTest01208=SafeText'>BenchmarkTest01208</a></li>
<li><a href='xss-01/BenchmarkTest01227.html?BenchmarkTest01227=SafeText'>BenchmarkTest01227</a></li>
<li><a href='xss-01/BenchmarkTest01238.html?BenchmarkTest01238=SafeText'>BenchmarkTest01238</a></li>
				<!-- @@LINK@@ -->
			</ul>
			</div>
		</div>
	</div>
</div>
</body>
</html>
