<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OWASP Benchmark</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/benchmark/css/normalize.css">
  <link rel="stylesheet" href="/benchmark/css/skeleton.css">
  <link rel="icon" type="image/png" href="/benchmark/favicon.ico">
  
  <script src="/benchmark/js/jquery.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="row">
			<div class="twelve columns">
				<h1>OWASP Benchmark XML eXternal Entity Injection Test Case Index</h1>
			</div>
		</div>
		<div class="row">
			<div class="eight columns">
			<ul>
<li><a href='xxe-00/BenchmarkTest00017'>BenchmarkTest00017</a></li>
<li><a href='xxe-00/BenchmarkTest00207.html?BenchmarkTest00207=SafeText'>BenchmarkTest00207</a></li>
<li><a href='xxe-00/BenchmarkTest00208.html?BenchmarkTest00208=SafeText'>BenchmarkTest00208</a></li>
<li><a href='xxe-00/BenchmarkTest00374.html?BenchmarkTest00374=SafeText'>BenchmarkTest00374</a></li>
<li><a href='xxe-00/BenchmarkTest00547.html?BenchmarkTest00547=SafeText'>BenchmarkTest00547</a></li>
<li><a href='xxe-00/BenchmarkTest00548.html?BenchmarkTest00548=SafeText'>BenchmarkTest00548</a></li>
<li><a href='xxe-00/BenchmarkTest00684.html?BenchmarkTest00684=SafeText'>BenchmarkTest00684</a></li>
<li><a href='xxe-00/BenchmarkTest00685.html?BenchmarkTest00685=SafeText'>BenchmarkTest00685</a></li>
<li><a href='xxe-00/BenchmarkTest00686.html?BenchmarkTest00686=SafeText'>BenchmarkTest00686</a></li>
<li><a href='xxe-00/BenchmarkTest00687.html?BenchmarkTest00687=SafeText'>BenchmarkTest00687</a></li>
<li><a href='xxe-00/BenchmarkTest00764.html?BenchmarkTest00764=SafeText'>BenchmarkTest00764</a></li>
<li><a href='xxe-00/BenchmarkTest00856.html?BenchmarkTest00856=SafeText'>BenchmarkTest00856</a></li>
<li><a href='xxe-00/BenchmarkTest00857.html?BenchmarkTest00857=SafeText'>BenchmarkTest00857</a></li>
<li><a href='xxe-00/BenchmarkTest00858.html?BenchmarkTest00858=SafeText'>BenchmarkTest00858</a></li>
<li><a href='xxe-00/BenchmarkTest00859.html?BenchmarkTest00859=SafeText'>BenchmarkTest00859</a></li>
<li><a href='xxe-00/BenchmarkTest00944.html?BenchmarkTest00944=SafeText'>BenchmarkTest00944</a></li>
<li><a href='xxe-00/BenchmarkTest00945.html?BenchmarkTest00945=SafeText'>BenchmarkTest00945</a></li>
<li><a href='xxe-00/BenchmarkTest00946.html?BenchmarkTest00946=SafeText'>BenchmarkTest00946</a></li>
<li><a href='xxe-00/BenchmarkTest01039.html?BenchmarkTest01039=SafeText'>BenchmarkTest01039</a></li>
<li><a href='xxe-00/BenchmarkTest01040.html?BenchmarkTest01040=SafeText'>BenchmarkTest01040</a></li>
<li><a href='xxe-00/BenchmarkTest01041.html?BenchmarkTest01041=SafeText'>BenchmarkTest01041</a></li>
<li><a href='xxe-00/BenchmarkTest01042.html?BenchmarkTest01042=SafeText'>BenchmarkTest01042</a></li>
<li><a href='xxe-00/BenchmarkTest01126.html?BenchmarkTest01126=SafeText'>BenchmarkTest01126</a></li>
<li><a href='xxe-00/BenchmarkTest01127.html?BenchmarkTest01127=SafeText'>BenchmarkTest01127</a></li>
<li><a href='xxe-00/BenchmarkTest01232.html?BenchmarkTest01232=SafeText'>BenchmarkTest01232</a></li>
				<!-- @@LINK@@ -->
			</ul>
			</div>
		</div>
	</div>
</div>
</body>
</html>
