<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <script src="/benchmark/js/jquery.min.js"></script>
  <script type="text/javascript" src="/benchmark/js/js.cookie.js"></script>
  <script src="/benchmark/js/testsuiteutils.js"></script>
  <link rel="icon" type="image/png" href="/benchmark/favicon.ico">
  <title>BenchmarkTest00264</title>
</head>
<body>
<form action="/benchmark/codeinj-00/BenchmarkTest00264" method="POST" id="FormBenchmarkTest00264" autocomplete="off">
 <div><label>Select your habits and edit the parameter [name,value]:</label></div><br>
	<div><input type="checkbox" name="BenchmarkTest00264" value="&#x27;ECHOOO&#x27;" checked >Reading. [BenchmarkTest00264, &#x27;ECHOOO&#x27;]</div>
	<div><input type="checkbox" name="BenchmarkTest00264" value="Movies" >Movies. [BenchmarkTest00264, Movies]</div>
	<div><input type="checkbox" name="BenchmarkTest00264" value="Writing" >Writing. [BenchmarkTest00264, Writing]</div>
	<div><input type="checkbox" name="BenchmarkTest00264" value="Singing" >Singing. [BenchmarkTest00264, Singing]</div>
	<div><label>Parameter foo, value:</label><input type="text" id="foo" name="foo" value="bar" ></div><br>
	<div><input type="submit" value="Submit" ></div>
 </form>
 
</body>
</html>
