<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <script src="/benchmark/js/jquery.min.js"></script>
  <script type="text/javascript" src="/benchmark/js/js.cookie.js"></script>
  <script src="/benchmark/js/testsuiteutils.js"></script>
  <link rel="icon" type="image/png" href="/benchmark/favicon.ico">
  <title>BenchmarkTest01178</title>
</head>
<body>
<form action="/benchmark/codeinj-00/BenchmarkTest01178" method="POST" id="FormBenchmarkTest01178" autocomplete="off">
 <div><label>Select your habits and edit the parameter [name,value]:</label></div><br>
	<div><input type="checkbox" name="BenchmarkTest01178" value="&#x27;RESPONSE &#x2b;&#x3d; &#x5c;&#x27;ECHOOO&#x5c;&#x27;&#x27;" checked >Reading. [BenchmarkTest01178, &#x27;RESPONSE &#x2b;&#x3d; &#x5c;&#x27;ECHOOO&#x5c;&#x27;&#x27;]</div>
	<div><input type="checkbox" name="BenchmarkTest01178" value="Movies" >Movies. [BenchmarkTest01178, Movies]</div>
	<div><input type="checkbox" name="BenchmarkTest01178" value="Writing" >Writing. [BenchmarkTest01178, Writing]</div>
	<div><input type="checkbox" name="BenchmarkTest01178" value="Singing" >Singing. [BenchmarkTest01178, Singing]</div>
	<div><label>Parameter foo, value:</label><input type="text" id="foo" name="foo" value="bar" ></div><br>
	<div><input type="submit" value="Submit" ></div>
 </form>
 
</body>
</html>
